{% load static %}
<div class="row s_nb_column_fixed">
    <div class="col-lg-12 s_title pt16">
        <h4 class="s_title_underlined">
            ISO\Global Language Service Providers
            <hr>
        </h4>
    </div>
</div>

<section class="card card-body state-counter">
    <div class="bg-white mb-4 pb16 pt16 row">
        <div class="col-md-12">
            <img class="img-fluid" src="{% static '/images/state-count.jpg' %}"/>
        </div>
    </div>
</section>
<br>
<section class="card card-body bg-light mb-4 pb16 pt16">
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid" src="{% static '/images/certificate.jpg' %}"/>
        </div>
    </div>
</section>