{% load static %}

<section class="card card-body bg-dark text-center text-white pt16 pb8">
    <div class="row">
        <div class="col-md-12">
            <p>Copyrights © 2019 Crimson interactive inc. (USA)</p>
            <p>All contents of www.ulatus.com are protected under the International Copyright Act.
                All rights on
                this Web Site are reserved and no part of this Site shall be reproduced, stored in a
                retrieval
                system, or transmitted in any form or by any means - electronic, electrostatic,
                magnetic tape,
                mechanical, printing, photocopying, recording or otherwise, including the right of
                translation
                in any language, without the permission of Crimson Interactive Inc (USA)
            </p>
        </div>
    </div>
</section>