{% extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Tag:</h5>
			<a class="btn btn-sm btn-primary" style="width: 125px;" href="{% url 'create_tag' %}">Create Tag</a>
		</div>
		<div class="card card-body" style="background-color: #ebeff5">
			<table class="table">
				<tr style="background-color: #4CAF50;color: white;">
					<th>Name</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				{% for tag in tags %}
				<tr>
					<td>{{tag.name}}</td>
					<td>
						<a class="btn btn-sm btn-info" href="{% url 'update_tag' tag.id %}">Update</a>
					</td>
					<td>
						<a class="btn btn-sm btn-danger" href="{% url 'delete_tag' tag.id %}">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}